# Dependency folders
node_modules/
/backend/node_modules/
/frontend/node_modules/

# Environment Variables (this is impppppp!)

.env
backend/.env
frontend/.env
backend/roadmap.txt



# Build outputs (not needed in repo)
/backend/dist/