@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  /* 1. TYPOGRAPHY MAPPING */
  /* Syntax: --font-variable-name: "Font Family Name", fallback-font; */

  --font-display: "Changa One", sans-serif; /* Used for Headers */
  --font-body: "M PLUS Code Latin", monospace; /* Used for Paragraphs */
  --font-retro: "Press Start 2P", cursive;
  --font-reading: "Outfit", sans-serif; 
  --font-header: "Oi", sans-serif;   /* new header font */

  /* 2. COLOR PALETTE MAPPING */
  /* Syntax: --color-variable-name: #hexcode; */

  --color-brand-primary: #5522e0; /* Deep Purple */
  --color-brand-surface: #bcb3ff; /* Light Purple */
  --color-brand-peach: #ffd9a1; /* Soft Peach */
  --color-brand-accent: #f4a60b; /* Gold/Orange */
  --color-brand-pop: #FFF1F1; /* light-cream */
}

@layer base{
    body {
        font-family: var(--font-body);
        background-color: var(--color-brand-surface);
        color: #1a202c;
        /* default color text (gray-900) */
    }

    h1,h2,h3,h4,h5 {
        font-family: var(--font-display);
        font-weight: 400; 
    }

}
